/*!
  * Item: Kitzu
  * Description: Personal Portfolio Template
  * Author/Developer: Exill
  * Author/Developer URL: https://themeforest.net/user/exill
  * Version: v2.0.0
  * License: Themeforest Standard Licenses: https://themeforest.net/licenses
  */

/*----------- ADD YOUR CUSTOM CSS STYLES BELOW -----------*/
.countdown-container {
  background-color: #000588;
  border: 1px solid #e6ff08;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

